/* CSS declarations go here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  overflow: auto;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #F7F7F7;
}

.chatbox {
  height: 200px;
  width: 80%;
  margin: 0;
  padding: 8px;
  border: none;
  outline: none;
  display: inline;
  float: left;
  resize: none;
  background-color: #F7F7F7;
}

.chat-btn {
  width: 20%;
  height: 200px;
  background-color: #D13A17;
  color: white;
  text-align: center;
  border: none;
  outline: none;
  float: left;
  border: 5px solid #F7F7F7;
  border-radius: 8px;
}

.inline {
  /*display: inline-block;*/
}
